Source: libpgplot-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Carlo Segre <segre@debian.org>,
           gregor herrmann <gregoa@debian.org>
Section: contrib/perl
XS-Autobuild: yes
Priority: optional
Build-Depends: chrpath,
               debhelper (>= 9.20120312~),
               gfortran,
               libextutils-f77-perl,
               libpng-dev,
               libx11-dev,
               perl,
               pgplot5,
               x11proto-core-dev
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-perl/packages/libpgplot-perl.git
Vcs-Git: https://anonscm.debian.org/git/pkg-perl/packages/libpgplot-perl.git
Homepage: https://metacpan.org/release/PGPLOT

Package: libpgplot-perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Description: perl interface to the pgplot plotting library
 The PGPLOT module provides a perl interface to the pgplot libraries used for
 plotting and visualizing scientific data. It is particularly popular for
 plotting astronomical data. Compared to using pgplot from C or FORTRAN,
 these Perl bindings allow for a faster, more interactive development.
