#! /usr/bin/make -f
# -*-makefile-*-
# debian/rules file for libpgplot-perl

PERL	?= /usr/bin/perl
PACKAGE	:= $(firstword $(shell dh_listpackages))
PREFIX	:= $(CURDIR)/debian/$(PACKAGE)/usr
version	:= $(shell dpkg-parsechangelog | \
			sed -ne 's/^Version: *\([0-9]\+:\)*//p')

build:	build-stamp
build-stamp:
	dh_testdir
	$(PERL) Makefile.PL INSTALLDIRS=vendor PERL=$(PERL)
	$(MAKE) LD_RUN_PATH=
	touch $@

# Tests require human interaction and thus cannot be used during
# autobuild.  Use this rule to rest functionality by hand.
test:	build-stamp
	$(MAKE) test

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean build-stamp install-stamp Makefile.old

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) pure_install PREFIX=$(PREFIX)
	touch $@

binary-indep:
# We have nothing to do here for an architecture-independent package

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdocs README
	dh_installexamples 
	dh_installchangelogs CHANGES
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary:	binary-indep binary-arch

.PHONY:	binary binary-arch binary-indep clean build test
